# This is not made by an AI
PORT = 5000
Frontend_Origin = "https://www.example.com"
DROP_ZONE_PATH = "/srv/PrintConsoleStorage/printConsole"
STORAGE_POOL = "/srv/PrintConsoleStorage"
PrinterName = "EpsonL380"

useStorage = true / false 
#if you host the backend on a serverless service such as vercel keep the value false
#if you host the backend on a server such as selfhosted server / aws google cloud / keep the value true

serverIp = 1.127.0.0.1
serverPort = 22
sshUsr = "userName"
sshKey = "yiyufwagncyafywnvfiwacvnf2ywvfqayfvfqY8fvwexuyifvnwayfcwuhbwaufmv2y7qfmvawygviawyug764y26tcgyuwavg9y73w4ncvy73w9gfn3w748tf3w4v9k4ofjmv34w39fc4w9gc4cgn73infcg3w9f349ft3w4tw4ftn3w47tq2n8tx8F7TFn98ofn29F8FN88TGA8GT8YgY8G" 
#its not a real key i just rolled a pen alover my keyboard